<div class="w-full max-w-screen-md mx-auto px-4">
  <p-toolbar>
    <ng-template #start>
      <h2 class="text-2xl text-gray-800">Overview Bands</h2>
    </ng-template>
    <ng-template #center>
      <div class="flex space-x-1 pt-2">
        <input pInputText placeholder="Search band" [(ngModel)]="keyword" (keydown.enter)="onSearch()"/>
        <p-button icon="pi pi-search" (click)="onSearch()"></p-button>
        @if (keyword) {
        <p-button icon="pi pi-times" (click)="clear()"></p-button>
        }
      </div>
    </ng-template>
    <ng-template #end>
      <button type="button" pButton [routerLink]="'/band-form'">
        <i class="pi pi-plus"></i>
      </button>
    </ng-template>
  </p-toolbar>

  <ul class="divide-y divide-gray-200">
    @for (band of bands; track band) {
    <li>
      <a
        [routerLink]="['/band-form', band.id]"
        class="flex p-4 hover:bg-gray-100 text-blue-600"
      >
        {{ band.name }}
      </a>
    </li>
    }
  </ul>
</div>
