<h2>
  <u>List of bands</u>
</h2>

<form (ngSubmit)="onSearch()">
  <label for="search">Search By:</label>
  <input type="text" id="search" name="search" [(ngModel)]="keyword"> <br><br>
  @if (!showClearButton) {
    <input type="submit" value="Search" (click)="showClearButton = !showClearButton">
  }
</form>

@if (showClearButton) {
  <button (click)="clear()">Clear search</button>
}

<ul>
  @for (band of bands; track band) {
    <li>
      <a [routerLink]="['/band-information', band.id]" >{{ band.name }}</a>
    </li>
  }
</ul>

<a routerLink="/band-form">
  <button type="button">Add band</button>
</a>
