<h2>
  <u>List of bands</u>
</h2>

<form (ngSubmit)="onSearch()">
  <label for="search">Search By:</label>
  <input type="text" id="search" name="search" [(ngModel)]="keyword"> <br><br>
  <input *ngIf="!showClearButton" type="submit" value="Search" (click)="showClearButton = !showClearButton">
</form>

<button *ngIf="showClearButton" (click)="clear()">Clear search</button>

<ul>
  <li *ngFor="let band of bands">
    <a [routerLink]="['/band-information', band.id]" >{{ band.name }}</a>
  </li>
</ul>

<a routerLink="/band-form">
  <button type="button">Add band</button>
</a>
