<p>band-information works!</p>

@if (!showForm) {
  <div>
    @if (band) {
      <div>
        <h2>{{ band?.name }}</h2>
        <p>Wikipedia link: {{ band?.linkWikiPage }}</p>
      </div>
    }
  </div>
}

@if (showForm) {
  <div>
    <form (ngSubmit)="onSave()">
      <label for="name">Name:</label>
      <input type="text" id="name" name="name" [(ngModel)]="band.name"> <br><br>
      <label for="linkwikipage">Link to Wikipedia page:</label>
      <input type="text" id="linkwikipage" name="linkwikipage" [(ngModel)]="band.linkWikiPage"><br><br>
      <input type="submit" value="Save">
    </form>
  </div>
}

@if (!showForm) {
  <button (click)="showForm = !showForm">Edit</button>
}
@if (!showForm) {
  <button (click)="onDelete()">Delete</button>
}
