<div class="w-full max-w-screen-md mx-auto px-4">
  <p-toolbar>
    <ng-template #start>
      <h2 class="text-2xl text-gray-800">Overview Songs</h2>
    </ng-template>

    <ng-template #end>
      <button type="button" icon="pi pi-plus" [rounded]="true" [outlined]="true" pTooltip="Add song" pButton [routerLink]="'/song-form'">
      </button>
    </ng-template>
  </p-toolbar>

  <ul class="divide-y divide-gray-200">
    @for (song of songs; track song) {
    <li class="flex justify-between py-2">
      <span>{{ song.name }}</span>
      <span>{{ song.band.name }}</span>
    </li>
    }
  </ul>
</div>
